@import "tailwindcss";
@import "@fontsource/poppins/600.css";
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 400% 400%;
  animation: gradient-move 15s ease infinite;
}
